<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <div class="container">
    <div class="card register-card">
      <div class="row no-gutters">
        <div class="col-md-2">
          <!-- <img src="assets/images/register.jpg" alt="register" class="register-card-img"> -->
        </div>
        <div class="col-md-8" >
          <div class="register-body">
            <div class="text-center">
              <div class="brand-wrapper">
                <img src="assets/images/JCOM-logo-3.png" alt="logo" class="logo" style="height: 74px;"><span class="logo-name"></span>
              </div>
            </div>
            <form class="login-form mt-4" [formGroup]="registerForm" (ngSubmit)="onSubmit(addRecord)">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group position-relative">
                    <label>Name <span class="text-danger">*</span></label>
                    <i-feather name="user" class="login-icons"></i-feather>
                    <input type="text" class="form-control pl-5" formControlName="fname" placeholder="First Name"
                      required>
                      <small class="form-text text-danger"
                      *ngIf="!registerForm.get('fname').valid && registerForm.get('fname').touched">
                    *required</small>
                  </div>
                </div>
                <!-- <div class="col-md-6">
                  <div class="form-group position-relative">
                    <label>Business name <span class="text-danger">*</span></label>
                    <i-feather name="user" class="login-icons"></i-feather>
                    <input type="text" class="form-control pl-5" formControlName="lname" placeholder="Business Name"
                      required>
                  </div>
                </div> -->

                <div class="col-md-6">
                  <div class="form-group position-relative">
                    <label>Mobile No <span class="text-danger">*</span></label>
                    <i-feather name="phone" class="login-icons"></i-feather>
                    <input type="text" class="form-control pl-5" formControlName="Mobile" placeholder="Mobile No " required>
                    <small class="form-text text-danger"
                    *ngIf="!registerForm.get('Mobile').valid && registerForm.get('Mobile').touched">
                  *required</small>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group position-relative">
                    <label> Email <span class="text-danger">*</span></label>
                    <i-feather name="mail" class="login-icons"></i-feather>
                    <input type="email" class="form-control pl-5" formControlName="email" placeholder="Email" required>
                 
                    <small class="form-text text-danger"
                    *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched">
                  *required</small> </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group position-relative">
                    <label>Password <span class="text-danger">*</span></label>
                    <i-feather name="Lock" class="login-icons"></i-feather>
                    <input type="password" class="form-control pl-5" formControlName="password" placeholder="Password"
                      required>
                      <small class="form-text text-danger"
                      *ngIf="!registerForm.get('password').valid && registerForm.get('password').touched">
                    *required</small> 
                  </div>
                </div>
              
                <!-- <div class="col-md-6">
                  <div class="form-group position-relative">
                    <label>Pincode<span class="text-danger">*</span></label>
                    <i-feather name="user" class="login-icons"></i-feather>
                    <input type="text" class="form-control pl-5" formControlName="Pincode" placeholder="Pincode"
                      required (change)="onpincodeChange($event.target.value,registerForm)">
                  </div>
                </div>
                
                <div class="col-md-6">
                  <div class="form-group position-relative">
                    <label>State<span class="text-danger"></span></label>
                    <i-feather name="user" class="login-icons"></i-feather>
                    <input type="text"  class="form-control pl-5" formControlName="State" placeholder="State"
                      required>
                  </div>
                </div> -->
             

                <div class="col-md-6">
                  <div class="form-group position-relative">
                  <label>Country <span class="text-danger">*</span></label>
                  <i-feather name="Globe" class="login-icons"></i-feather>
                  <select class="form-control pl-5" formControlName="Country" required (change)="selectInput($event)">  
                    <option value="" selected disabled>Please select</option> 
                    <option *ngFor="let country of countries"  [value]="country.id">
                      {{country.name}}
                    </option>
                  </select>
                </div>
                </div>

                

                <div class="col-md-6" *ngIf="isNameSelected" >
                  <div class="form-group position-relative">
                  <label>Zone <span class="text-danger">*</span></label>
                  <i-feather name="Crosshair" class="login-icons"></i-feather>
                  <select class="form-control pl-5" formControlName="Area" required (change)="selectInput1($event)">  
                    <option value="" selected disabled>select</option> 
                    <option *ngFor="let country of countries"  [value]="country.id">
                      {{country.name}}
                    </option>
                  </select>
                </div>
                </div>



                <div class="col-md-8" >
                  <div class="form-group position-relative" *ngIf="isNameSelected1">
                  <label>LOM <span class="text-danger">*</span></label>
                  <i-feather name="Flag" class="login-icons"></i-feather>
                  <select class="form-control pl-5" formControlName="Area" required>  
                    <option value="" selected disabled>Please select</option> 
                    <option *ngFor="let country of countries"  [value]="country.id">
                      {{country.na}}
                    </option>
                  </select>
                </div>
                </div>

                <!-- <button (click)="toggleShow()" type="checkbox" >show/hide</button> -->

               

                <div class="col-md-6"  >
                  <div class="form-group position-relative">
                    <label>JCI Membership ID </label>
                  <div class="form-check">
                    <label class="form-check-label" for="defaultCheck1"> click if yes  </label>&nbsp;
                    <input class="form-check-input" type="checkbox" value="yes" id="defaultCheck1" (change)="onCheckboxChange($event)">
                    
                  </div>
                </div>
                </div>
           
                <div class="col-md-6" >
                  <div class="form-group position-relative" *ngIf="showTitle" >
                  <label> Membership ID<span class="text-danger">*</span></label>
                  
                  <i-feather name="award" class="login-icons"></i-feather>
                  <input type="text" class="form-control pl-5" formControlName="Meetingid" placeholder="Meetingid " required>
                </div>
                </div>



                <div class="col-md-6"  >
                  <div class="form-group position-relative">
                  <label>Business Category <span class="text-danger">*</span></label>
                  <i-feather name="Briefcase" class="login-icons"></i-feather>
                  <select class="form-control pl-5" formControlName="Area" required >  
                    <option value="" selected disabled>select</option> 
                    <option *ngFor="let country of countries"  [value]="country.id">
                      {{country.name}}
                    </option>
                  </select>
                </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group position-relative">
                    <label>MettingType<span class="text-danger">*</span></label>
                     <i-feather name="users" class="login-icons"></i-feather> 
                    <select class="form-control pl-5" formControlName="MettingType"
                      placeholder="Select MettingType">
                      <option value="" selected disabled>Please select</option>
                      <option *ngFor="let meet of meetings" [value]="meet.id">
                        {{meet.value}}
                      </option>
                    </select>
                  </div>
                </div>
         
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                       Accept our <a routerLink="/authentication/terms" class="text-blue font-weight-bold">Terms And Conditions</a>
                    </label>
                  </div>
                </div>



                <!-- <div class="col-md-6">
                  <div class="form-group position-relative">
                    <label>City<span class="text-danger">*</span></label>
                    <i-feather name="user" class="login-icons"></i-feather>
                    <input type="text" class="form-control pl-5" formControlName="City" placeholder="City"
                      required>
                  </div>
                </div> -->
                
                
               
                <div *ngIf="error" class="alert alert-danger mb-3 ml-3">{{error}}</div>
                <div class="col-md-12">
                  <button class="btn btn-primary auth-form-btn" [disabled]="registerForm.invalid">Register</button>
                </div>
           
                <div class="mx-auto">
                  <p class="mb-0 mt-3"><small class="text-dark mr-2">Already have an account ?</small> <a
                      routerLink="/authentication/signin" class="text-dark font-weight-bold">Sign in</a></p>
                </div>
              </div>
            </form>


            
           <ng-template #addRecord let-modal>
             <div class="modal-header editRowModal">
               <h4 class="modal-title" id="modal-basic-title">
                 <div class="table-modal-header">
                   <div class="modal-about">
                     <div class="font-weight-bold p-t-10 font-17">
                      Waiting For Otp</div>
                   </div>
                 </div>
               </h4>
               <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                 <span aria-hidden="true"><i class="material-icons">close</i></span>
               </button>
             </div>
             <div class="modal-body">
               <form class="register-form" [formGroup]="otpform" (ngSubmit)="onAddRowSave(otpform)">
                
                
                 <div class="row">

                
                   <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-1">
                     <label>Otp<span class="text-danger">*</span></label>
                     <input type="number" class="form-control" placeholder="otp" formControlName="otp" required>
                     <!-- <small class="form-text text-danger"
                       *ngIf="!otpform.get('phone').valid && otpform.get('otp').touched"> Otp is
                       required</small> -->
                   </div>
            
             
                 </div>
             
                 <div *ngIf="error1" class="alert alert-danger mb-3 ml-3">{{error1}}</div>
                 <div class="modal-footer">
                   <button type="submit" class="btn btn-primary" [disabled]="!otpform.valid">Submit</button>
                   <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                 </div>
               </form>
             </div>
           </ng-template>
          </div>
        </div>
        <div class="col-md-2">
          <!-- <img src="assets/images/register.jpg" alt="register" class="register-card-img"> -->
        </div>
      </div>
    </div>
  </div>
</main>
