<nav class="navbar navbar-expand-lg main-navbar sticky" style="background-color: #fefeff;">
  <div class="form-inline mr-auto">
    <ul class="navbar-nav mr-3">
      <li>
        <a data-toggle="sidebar" class="nav-li
									collapse-btn" (click)="mobileMenuSidebarOpen($event,'overlay-open')">
          <i-feather name="menu"></i-feather>
        </a>
      </li>

    </ul>
  </div>
  <ul class="navbar-nav navbar-right">
    <li> <a class="nav-link" style="color: blue;" (click)="callFullscreen()">
        <i-feather name="maximize"></i-feather>
      </a>
    </li>
    <li ngbDropdown><a ngbDropdownToggle data-toggle="dropdown"
        class="nav-link dropdown-toggle nav-link-lg nav-link-user">
        <img alt="image" src="https://admin.jcombiz.com/{{profilepto}}" class="user-img-radious-style collapse-btn"> <span
          class="d-sm-none d-lg-inline-block"></span></a>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right pullDown">
        <!-- <div class="dropdown-title">Hello Sarah..</div> -->
        <a routerLink="/profile" class="dropdown-item has-icon"> <i class="fa
              fa-user"></i> Profile
        </a>
        <a (click)='ChangePassword(changeRecord)' class="dropdown-item has-icon"> <i class="fa
          fa-key"></i> ChangePassword
        </a>
        <div class="dropdown-divider"></div>
        <a href="javascript:void(0);" class="dropdown-item has-icon text-danger" (click)="logout()"> <i
            class="fas fa-sign-out-alt"></i>
          Logout
        </a>
      </div>
    </li>
  </ul>
</nav>


<ng-template #changeRecord let-modal>
  <div class="modal-header editRowModal">
      <h4 class="modal-title" id="modal-basic-title">
          <div class="table-modal-header">
              <img src="assets/images/JCOM logo 4.jpg" alt="avatar">
              <div class="modal-about">
                  <div class="font-weight-bold p-t-10 font-17">
                    Reset Password  </div>
              </div>
          </div>
      </h4>
      <button type="button" class="close" aria-label="Close"
          (click)="modal.dismiss()">
          <span aria-hidden="true"><i class="material-icons">close</i></span>
      </button>
  </div>
  <br>
  <div class="modal-body">
      <div class="card-body" style="margin-left: 50px;margin-right: 50px;">
        <p class="text-muted">Enter Your New Password</p>
        <form class="edit-form" [formGroup]="editForm" (ngSubmit)="onEditSave(editForm)">

          <div class="form-group">
            <label>New Password</label>
            <input type="password" formControlName="password" class="form-control" required>
            <small class="form-text text-danger"
            *ngIf="!editForm.get('password').valid && editForm.get('password').touched">
            *Please fill</small>
            <!-- <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
              <div *ngIf="f.password.errors.required">Password is required.</div>
            </div> -->
          </div>

          <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirm_password" required>
            <small class="form-text text-danger"
            *ngIf="!editForm.get('confirm_password').valid && editForm.get('confirm_password').touched">
            *Please fill</small>
            <!-- <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
          <div *ngIf="f.confirm_password.errors.required">Password is required.</div>
          <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.
          </div>
        </div>  -->
          </div>
          <div *ngIf="error2" class="alert alert-danger mb-3 msl-3">{{error2}}</div>
          <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block" type="submit"  >
              Reset Password
            </button>
          </div>
        </form>
      </div>
      <br>
  </div>
</ng-template>

<!-- 
<ng-template #changeRecordd let-modal>
  <div class="modal-header editRowModal">
    <h4 class="modal-title" id="modal-basic-title">
      <div class="table-modal-header">
        <img src="assets/images/JCOM logo 4.jpg" alt="avatar">
        <div class="modal-about">
          <div class="font-weight-bold p-t-10 font-17">
            Reset Password </div>
        </div>
      </div>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true"><i class="material-icons">close</i></span>
    </button>
  </div>

  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="auth-card">
        <div class="row">
          <div class="col-12">
            <div class="card card-primary">
              <div class="card-header">
                <h4>Change Password</h4>
              </div>
              <div class="card-body">
                <p class="text-muted">Enter Your New Password</p>
                <form class="edit-form" [formGroup]="editForm" (ngSubmit)="onEditSave(editForm)">

                  <div class="form-group">
                    <label>New Password</label>
                    <input type="password" formControlName="password" class="form-control" required>
                     <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                      <div *ngIf="f.password.errors.required">Password is required.</div>
                    </div> 
                  </div>

                  <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control" formControlName="confirm_password" required>
                    <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
                  <div *ngIf="f.confirm_password.errors.required">Password is required.</div>
                  <div *ngIf="f.confirm_password.errors.confirmedValidator">Password and Confirm Password must be match.
                  </div>
                </div>  
                  </div>
                  <div *ngIf="error2" class="alert alert-danger mb-3 msl-3">{{error2}}</div>
                  <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">
                      Reset Password
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</ng-template> -->