<section class="main-content">
  <ul class="breadcrumb breadcrumb-style ">
    <li class="breadcrumb-item">
      <h5 class="page-title m-b-0">Guest Registration</h5>
    </li>
    <li class="breadcrumb-item bcrumb-1">
      <a routerLink="/dashboard/main">
        <i class="fas fa-home font-17"></i></a>
    </li>

    <li class="breadcrumb-item">Guest History</li>
  </ul>
  <div class="section-body" style="margin-top: 20px;">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="p-10">
            <div class="row" style="margin-right: 10px; margin-left: 10px;">
              <div class="col-lg-12">
                <div class="row m-0">
                  <div class="col-lg-10 p-0">
                    <div class="ngxTableHeader">
                      <div class="table-title">
                        <h5><strong>Registration History</strong></h5>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-1 p-0">
                    <!-- <div class="ngxTableHeader">
                        <div class="header-buttons-left">
                            <div class="icon-button-demo buttons">
                              <button class="btn btn-icon icon-left btn-primary rounded-button" (click)=' pendinghistory(pendingRecord)' >
                                <i class="material-icons">av_timer</i>
                              </button>
                              
                            </div>
                          </div>
                      </div> -->
                  </div>

                  <div class="col-lg-1 p-0">
                    <div class="ngxTableHeader">
                      <div class="header-buttons-left">
                        <div class="icon-button-demo buttons">
                          <button class="btn btn-icon icon-left btn-primary rounded-button" (click)='addRow(regRecord)'>
                            <i class="material-icons">add</i>
                          </button>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- row end -->
            <hr>


            <ngx-datatable #table class="material" [rows]="Customers" [loadingIndicator]="loadingIndicator"
              columnMode="force" [headerHeight]="60" rowHeight="auto" [limit]="10" [reorderable]="reorderable"
              [selected]="selected" [selectionType]="'checkbox'" (select)='onSelect($event)' style="width: 100%;">

              <ngx-datatable-column name="Date">
                <!-- <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.phone}}
      </ng-template> -->
              </ngx-datatable-column>


              <ngx-datatable-column [width]="200" name="Name">
                <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                  <div class="name-col-style">
                    <div>{{row.username}}</div>
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Phone">
                <!-- <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.phone}}
    </ng-template> -->
              </ngx-datatable-column>

              <ngx-datatable-column name="Email" [width]="200">
                <!-- <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.phone}}
      </ng-template> -->
              </ngx-datatable-column>

              <ngx-datatable-column name="City">
                <!-- <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.phone}}
      </ng-template> -->
              </ngx-datatable-column>

              <ngx-datatable-column name="Category">
                <!-- <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.phone}}
      </ng-template> -->
              </ngx-datatable-column>

            </ngx-datatable>


            <!--  add Modal Window -->
            <ng-template #regRecord let-modal>
              <div class="modal-header editRowModal">
                <h4 class="modal-title" id="modal-basic-title">
                  <div class="table-modal-header">
                    <img src="assets/images/JCOM logo 4.jpg" alt="avatar">
                    <div class="modal-about">
                      <div class="font-weight-bold p-t-10 font-17">
                        Guest Registeration</div>
                    </div>
                  </div>
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                  <span aria-hidden="true"><i class="material-icons">close</i></span>
                </button>
              </div>

              <div class="modal-body">


                <form class="register-form" [formGroup]="register" (ngSubmit)="onAddRowSave(register)"
                  style="margin-top: 50px; border-color: rgb(20, 20, 20); border: black; ">
                  <div class="row" style="margin-left: 20px;margin-right: 100px;  border: black; ">

                    <div class="col-md-6">
                      <div class="form-group position-relative">
                        <label>Phone Book <span class="text-danger">*</span></label>
                        <i-feather name="user" class="login-icons" style="color: rgb(63, 89, 241);"></i-feather>
                        <input type="text" class="form-control pl-5" placeholder="From Phone Book " required>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group position-relative">
                        <label>Mobile No <span class="text-danger">*</span></label>
                        <i-feather name="phone" class="login-icons" style="color: rgb(63, 89, 241);"></i-feather>
                        <input type="text" class="form-control pl-5" placeholder="Mobile No " required>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group position-relative">
                        <label> E-mail <span class="text-danger">*</span></label>
                        <i-feather name="mail" class="login-icons" style="color: rgb(63, 89, 241);"></i-feather>
                        <input type="email" class="form-control pl-5" placeholder="Email" required>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group position-relative">
                        <label>City <span class="text-danger">*</span></label>
                        <i-feather name="map-pin" class="login-icons" style="color: rgb(63, 89, 241);"></i-feather>
                        <input type="text" class="form-control pl-5" placeholder="City" required>
                      </div>
                    </div>


                    <div class="col-md-6">
                      <div class="form-group position-relative">
                        <label>Business Category <span class="text-danger">*</span></label>
                        <i-feather name="Briefcase" class="login-icons" style="color: rgb(63, 89, 241);"></i-feather>
                        <select class="form-control pl-5" required>
                          <option value="" selected disabled>select</option>
                          <option *ngFor="let country of countries" [value]="country.id">
                            {{country.name}}
                          </option>
                        </select>
                      </div>
                    </div>


                    <div class="col-md-12">
                      <div id="df" style="height: 50px;">
                        <label>
                          <h6>Type :</h6>
                        </label> &nbsp;&nbsp;
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                            value="option1">
                          <label class="form-check-label" for="inlineRadio1">JCI</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                            value="option2">
                          <label class="form-check-label" for="inlineRadio2">Non-JCI</label>
                        </div>

                      </div>

                    </div>


                    <!-- <div class="col-md-6"  >
              <div class="form-group position-relative" >
              <label>Connect Type</label>
              <i-feather name="airplay" class="login-icons" style="color: rgb(63, 89, 241);"></i-feather>
              <select class="form-control pl-5" formControlName="connecttype" required (change)="selectInput1($event)" >  
                <option value="" selected disabled>select</option> 
                <option *ngFor="let connect of connects"  [value]="connect.id">
                  {{connect.value}}
                </option>
              </select>
            </div>
            </div> -->

                    <div class="col-md-8">
                      <div class="form-group position-relative">
                        <label> comments </label>
                        <textarea name="" class="form-control pl-2 " cols="30" rows="3 "></textarea>

                      </div>
                    </div>

                    <div class="col-md-12" style="text-align: center;"><br>
                      <button type="submit" class="btn btn-primary" [disabled]="!register.valid">CONFIRM</button>
                      <br><br><br>
                    </div>
                    <!-- <button (click)="toggleShow()" type="checkbox" >show/hide</button> -->

                    <!-- row end -->
                  </div>
                </form>
              </div>
            </ng-template>



            <!-- PENDING History -->
            <ng-template #pendingRecord let-modal>
              <div class="modal-header editRowModal">
                <h4 class="modal-title" id="modal-basic-title">
                  <div class="table-modal-header">
                    <img src="assets/images/JCOM logo 4.jpg" alt="avatar">
                    <div class="modal-about">
                      <div class="font-weight-bold p-t-10 font-17">
                        Connect Pending History</div>
                    </div>
                  </div>
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                  <span aria-hidden="true"><i class="material-icons">close</i></span>
                </button>
              </div>

              <div class="modal-body">

                <ngx-datatable #table class="material" [rows]="Customers" [loadingIndicator]="loadingIndicator"
                  columnMode="force" [headerHeight]="60" rowHeight="auto" [limit]="10"
                  [scrollbarH]="scrollBarHorizontal" [reorderable]="reorderable" [selected]="selected"
                  [selectionType]="'checkbox'" (select)='onSelect($event)'>

                  <ngx-datatable-column name="Date">
                    <!-- <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.phone}}
            </ng-template> -->
                  </ngx-datatable-column>


                  <ngx-datatable-column [width]="200" name="Name">
                    <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                      <div class="name-col-style">
                        <div>{{row.username}}</div>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Type">
                    <!-- <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.phone}}
          </ng-template> -->
                  </ngx-datatable-column>
                </ngx-datatable>

              </div>

            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>