<section class="main-content">

  <div class="section-body" style="margin-top: 20px;">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="p-10" style="margin-right: 20px; margin-left: 20px;">
            <div class="row" style="margin-right: 10px; ">
              <div class="col-lg-12">
                <div class="row m-0">
                  <div class="col-lg-2 p-0">
                    <div class="ngxTableHeader">
                      <div class="table-title">
                        <h5><strong>Connect</strong></h5>
                      </div>
                    </div>
                  </div>


                  <div class="col-lg-2 p-0">
                    <div class="ngxTableHeader">
                      <div class="header-buttons-left">
                        <div class="icon-button-demo buttons">
                          <button class="btn btn-icon icon-left btn-success" (click)='addRow(addRecord)'>
                            <i class="fas fa-plus"></i>AddConnect</button>
                          <!-- <button class="btn btn-icon icon-left btn-primary rounded-button"
                          (click)=' addRow(addRecord)'>
                          <i class="material-icons">add</i>
                        </button> -->
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-3 p-0">
                    <div class="ngxTableHeader">
                      <div class="header-buttons-left">
                        <div class="icon-button-demo buttons">
                          <button class="btn btn-icon icon-left btn-warning">
                            <a routerLink="/connectpending" style="text-decoration: none; color: rgb(255, 255, 255);">
                              <i class="fa fa-info-circle"></i> PendingHistory
                            </a> </button>
                          <!-- <button class="btn btn-icon icon-left btn-primary rounded-button"
                            (click)=' pendinghistory(pendingRecord)'>
                            <i class="material-icons">av_timer</i>
                          </button> -->
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-5 p-0">
                    <div class="ngxTableHeader" style="display: flex;  justify-content: flex-end;">
                      <div class="table-search-area">
                        <div>
                          <label for="search-input"><i class="material-icons search-icon">search</i></label>
                          <input placeholder="Search" type="text" class="browser-default search-field"
                            (keyup)='filterDatatable($event)' aria-label="Search box">
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>
            <!-- main table -->
            <br>
            <ngx-datatable #table class="material" [rows]="Connects" [loadingIndicator]="loadingIndicator"
              columnMode="force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10"
              [scrollbarH]="scrollBarHorizontal" [reorderable]="reorderable" *ngIf="!loader">

              <ngx-datatable-column name="Date">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.created_on}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column [width]="200" name="To/From">
                <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                  <!-- <img src="{{ row.img }}" class="data-table-img" /> -->
                  <div class="name-col-style">
                    <div>{{row.to_name}}</div>
                    <div class="font-12 text-muted">{{row.name}}</div>
                  </div>
                </ng-template>
              </ngx-datatable-column>


              <ngx-datatable-column name="Connect Name">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.connect_name}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Connect Type">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{row.connect_type}}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Status">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div *ngIf="row.connect_status=='Within JCOM'" class="badge-outline col-green">{{row.connect_status}}
                  </div>
                  <div *ngIf="row.connect_status=='Self'" class="badge-outline col-indigo">{{row.connect_status}}
                  </div>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="About Connect" >
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <h5 *ngIf="row.about_connect=='HOT'"><span class="badge badge-danger">Hot</span></h5>
                  <h5 *ngIf="row.about_connect=='MEDIUM'"><span class="badge badge-warning">Medium</span></h5>
                  <h5 *ngIf="row.about_connect=='COLD'"><span class="badge badge-info">Cold</span></h5>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Type">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <!-- <div *ngIf="row.type=='1'"  class="badge-outline" style="width: 10px; height: 10px; color:  rgb(245, 11, 11);" ><i class="material-icons">call_made</i>
                  </div> -->
                  <!-- <div *ngIf="row.type=='2'" class="badge-outline col-red"><i class="material-icons">call_received</i>
                  </div> -->

                  <h6 *ngIf="row.type=='1'" style="color: rgb(245, 11, 11);"><i class="material-icons">call_made</i>
                  </h6>
                  <h6 *ngIf="row.type=='2'" style="color: rgb(3, 153, 15);"><i class="material-icons">call_received</i>
                  </h6>
                  <!-- <a class="btn btn-icon btn-sm btn-danger" >
                    <i class="material-icons">call_made</i>
                  </a> -->
                  <!-- <div *ngIf="row.type=='1'" ><h5 class="msr-2 h-auto tblEditBtn"><i class="fas fa-eye"></i></h5>
                  </div> -->
                  <!-- <div *ngIf="row.type=='2'" ><h5 class="msr-2 h-auto tblEditBtn"><i class="fas fa-eye"></i></h5>
                  </div> -->
                  <!-- <button class="btn btn-icon btn-sm btn-danger" *ngIf="row.type=='1'"> <i-feather name="arrow-up-right"></i-feather></button>
                  <button class="btn btn-icon btn-sm btn-success" *ngIf="row.type=='2'"> <i-feather name="arrow-down-left"></i-feather></i></button> -->
                </ng-template>
              </ngx-datatable-column>


              <ngx-datatable-column name="Actions" sortable="false">
                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <a class="msr-2 h-auto tblEditBtn" (click)='openRow(row , rowIndex ,profileRecord)'>
                    <i class="fas fa-eye"></i>
                  </a>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>

            <!-- skleton -->
            <div id="tit" style="width: 100%;">
              <ngx-skeleton-loader count="1"
                [theme]="{  'border-radius': '4px',  height: '60px',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }"
                *ngIf="loader"></ngx-skeleton-loader>
            </div>
            <div class="skle" style="width: 100%;">
              <ngx-skeleton-loader count="10"
                [theme]="{  'border-radius': '4px',  height: '30px', width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }"
                appearance="line" *ngIf="loader"></ngx-skeleton-loader>

            </div>

            <!--   add record Window -->
            <ng-template #addRecord let-modal>
              <div class="modal-header editRowModal">
                <h4 class="modal-title" id="modal-basic-title">
                  <div class="table-modal-header">
                    <img src="assets/images/JCOM logo 4.jpg" alt="avatar">
                    <div class="modal-about">
                      <div class="font-weight-bold p-t-10 font-17">
                        Add Connect</div>
                    </div>
                  </div>
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                  <span aria-hidden="true"><i class="material-icons">close</i></span>
                </button>
              </div>

              <div class="modal-body">
                <form class="register-form" [formGroup]="register" (ngSubmit)="onAddRowSave(register)"
                  style="margin-top: 50px; border-color: rgb(20, 20, 20); border: black; ">
                  <div class="row" style="margin-left: 30px;margin-right: 40px;  border: black; ">

                    <div class="col-md-6">
                      <div class="form-group position-relative">
                        <label>JCOM Table</label>
                        <i-feather name="Flag" class="login-icons" style="color: rgb(63, 89, 241);"></i-feather>
                        <!-- <ng-select  [items]="Tables" bindLabel="table_name" bindValue="table" (change)="ontableChange($event.target.value)" required>
                        </ng-select> -->
                        <ng-select (change)="ontableChange($event)" placeholder="{{tblname}}">
                          <ng-option [value]="Mtable_id" selected>{{tblname}}</ng-option>
                          <ng-option *ngFor="let tab of Tables" [value]="tab.table">
                            {{tab.table_name}}
                          </ng-option>
                        </ng-select>
                        <!-- <select class="form-control pl-5"    (change)="ontableChange($event.target.value)">
                          <option  [value]="Mtable_id" selected >JCOM V NGB TEST TABLE 1.O</option>
                          <option *ngFor="let tab of Tables" [value]="tab.table">
                            {{tab.table_name}}
                          </option>
                        </select> -->
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group position-relative">
                        <label>Connect To<span class="text-danger">*</span></label>
                        <i-feather name="user-plus" class="login-icons" style="color: rgb(63, 89, 241);"></i-feather>
                        <ng-select formControlName="to_member_id" [items]="Members" bindLabel="name" bindValue="id"
                          required placeholder="please select">
                        </ng-select>
                        <!-- <select class="form-control pl-5" formControlName="to_member_id" required>                 
                          <option value="" selected disabled>Please select</option>
                          <option *ngFor="let mem of Members" [value]="mem.id">
                            {{mem.name}}
                          </option>
                        </select> -->
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group position-relative">
                        <label>Connect Type</label>
                        <i-feather name="airplay" class="login-icons" style="color: rgb(63, 89, 241);"></i-feather>
                        <select class="form-control pl-5" formControlName="connect_type" placeholder="please select" (change)="selectInput1($event)"
                          required>
                          <!-- <option value="" selected disabled>select</option> -->
                          <option *ngFor="let connect of connects" [value]="connect.id">
                            {{connect.value}}
                          </option>
                        </select>
                        <!-- <ng-select  [items]="connects" bindLabel="value" bindValue="id"  formControlName="connect_type" (change)="selectInput1($event)" placeholder="please select" required>
                        </ng-select> -->
                      </div>
                    </div>

                    <!-- <div class="col-md-6">
                      <div class="form-group position-relative" *ngIf="isdisable">
                        <label>Connect Status</label>
                        <i-feather name="link2" class="login-icons" style="color: rgb(63, 89, 241);"></i-feather>
                        <select class="form-control pl-5">
                          <option value="" selected disabled>select</option>
                          <option *ngFor="let connect of connectssts" [value]="connect.id">
                            {{connect.value}}
                          </option>
                        </select>
                      </div>
                    </div> -->
                    <div class="col-md-6">
                      <div class="form-group position-relative" *ngIf="isdisable">
                        <label>
                          Connect Status
                        </label><br><br>
                        <div class="form-check form-check-inline" (change)="selectInput2($event)">
                          <input class="form-check-input" type="radio" formControlName="connect_status"
                            id="inlineRadio1" value="0">
                          <label class="form-check-label" for="inlineRadio1">Self Connect</label>
                        </div>
                        <div class="form-check form-check-inline" (change)="selectInput2($event)">
                          <input class="form-check-input" type="radio" formControlName="connect_status"
                            id="inlineRadio2" value="1">
                          <label class="form-check-label" for="inlineRadio2">Within JCI-JCOM</label>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group position-relative">
                        <label>Business Category <span class="text-danger">*</span></label>
                        <i-feather name="Briefcase" class="login-icons" style="color: rgb(63, 89, 241);"></i-feather>
                        <!-- <select class="form-control pl-5" required>
                          <option value="" selected disabled>select</option>
                          <option *ngFor="let buss of Business" [value]="buss.id">
                            {{buss.name}}
                          </option>
                        </select> -->
                        <ng-select [items]="Business" bindLabel="category" bindValue="id"
                          formControlName="business_category" placeholder="please select" required>
                        </ng-select>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group position-relative">
                        <label>Connect Name <span class="text-danger">*</span></label>
                        <i-feather name="smartphone" class="login-icons" style="color: rgb(63, 89, 241);"></i-feather>
                        <input type="text" class="form-control pl-5" formControlName="connect_name"
                          placeholder="connect name" [(ngModel)]="setname">

                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group position-relative">
                        <label>Mobile No <span class="text-danger">*</span></label>
                        <i-feather name="phone" class="login-icons" style="color: rgb(63, 89, 241);"></i-feather>
                        <input type="text" class="form-control pl-5" formControlName="mobile_no" placeholder="Mobile No"
                          [(ngModel)]="setmobile">
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group position-relative">
                        <label> E-mail <span class="text-danger">*</span></label>
                        <i-feather name="mail" class="login-icons" style="color: rgb(63, 89, 241);"></i-feather>
                        <input type="email" class="form-control pl-5" formControlName="email_id" placeholder="Email"
                          [(ngModel)]="setemail">
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="form-group position-relative">
                        <label>Address</label>
                        <textarea name="" class="form-control pl-2" formControlName="address" cols="30"
                          rows="3"></textarea>

                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="form-group position-relative">
                        <label> Comments </label>
                        <textarea name="" class="form-control pl-2 " formControlName="comments" cols="30"
                          rows="3 "></textarea>

                      </div>
                    </div>

                    <div class="col-md-12" style="text-align: center;">
                      <label>
                        <h6>How About the Connect</h6>
                      </label> &nbsp;&nbsp;
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="about_connect" id="hot" value="1">
                        <label class="form-check-label" for="hot">Hot</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="about_connect" id="medium"
                          value="2">
                        <label class="form-check-label" for="medium">Medium</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="about_connect" id="cold"
                          value="3">
                        <label class="form-check-label" for="cold">Cold</label>
                      </div>
                    </div>

                    <div class="col-md-12" style="text-align: center;"><br>
                      <button type="submit" class="btn btn-primary" [disabled]="!register.valid">Save</button>
                      <br><br><br>
                    </div>
                    <!-- <button (click)="toggleShow()" type="checkbox" >show/hide</button> -->

                    <!-- row end -->
                  </div>
                </form>

              </div>
            </ng-template>
            <!-- PENDING History -->

            <!--           
<div *ngIf="pending">
                <ngx-datatable #table class="material" [rows]="Connects" [loadingIndicator]="loadingIndicator"
                  columnMode="force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10"
                  [reorderable]="reorderable" *ngIf="!loader" >

                  <ngx-datatable-column name="Date">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.phone}}
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column [width]="200" name="Name">
                    <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                      
                      <div class="name-col-style">
                        <div>{{row.username}}</div>
                        <div class="font-12 text-muted">{{row.name}}</div>
                      </div>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Connect Type">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      {{row.email}}
                    </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column name="Status">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <div *ngIf="row.status=='Active'" class="badge-outline col-green">{{row.status}}
                      </div>
                      <div *ngIf="row.status=='Completed'" class="badge-outline col-red">{{row.status}}
                      </div>
                      <div *ngIf="row.status=='Pending'" class="badge-outline col-indigo">{{row.status}}
                      </div>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column name="Actions" sortable="false">
                    <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                      <a class="msr-2 h-auto tblEditBtn" (click)='openprofile(connectRecord)'>
                        <i class="fas fa-eye"></i>
                      </a>

                    </ng-template>
                  </ngx-datatable-column>
                </ngx-datatable>
               

              
                <div id="tit" style="width: 100%;">
                  <ngx-skeleton-loader count="1"
                    [theme]="{  'border-radius': '4px',  height: '60px',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }"
                    *ngIf="loader"></ngx-skeleton-loader>
                </div>
                <div class="skle" style="width: 100%;">
                  <ngx-skeleton-loader count="10"
                    [theme]="{  'border-radius': '4px',  height: '30px', width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }"
                    appearance="line" *ngIf="loader"></ngx-skeleton-loader>
                </div>
              </div>
  -->

            <!-- profile page -->
            <ng-template #profileRecord let-modal>

              <div class="modal-header editRowModal">
                <h4 class="modal-title" id="modal-basic-title">
                  <div class="table-modal-header">
                    <img src="assets/images/JCOM logo 4.jpg" alt="avatar">
                    <div class="modal-about">
                      <div class="font-weight-bold p-t-10 font-17">
                        Connect Details</div>
                    </div>
                  </div>
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                  <span aria-hidden="true"><i class="material-icons">close</i></span>
                </button>
              </div>

              <div class="modal-body">
                <div class="section-body">
                  <div class="row ">
                    <div class="col-12 col-md-12 ">
                      <div class="card author-box" style="margin-left: 35px; margin-right: 35px;">

                        <div class="card-body">
                          <div class="card-header">
                            <h4>Details</h4>
                          </div>
                          <div class="py-4" style="margin-left: 20px; margin-right: 20px;">
                            <p class="clearfix">
                              <span class="float-start">
                                Connect Name :
                              </span>
                              <span class="float-right text-muted" style="width: 60%;">
                                {{Connectdtls.connect_name}}
                              </span>
                            </p>
                            <p class="clearfix">
                              <span class="float-start">
                                Connect Type :
                              </span>
                              <span class="float-right text-muted" style="width: 60%;">
                                {{Connectdtls.connect_type}}
                              </span>
                            </p>

                            <p class="clearfix">
                              <span class="float-start">
                                Connect Status :
                              </span>
                              <span class="float-right text-muted" style="width: 60%;">
                                {{Connectdtls.connect_status}}
                              </span>
                            </p>

                            <p class="clearfix">
                              <span class="float-start">
                                Business Category :
                              </span>

                              <span class="float-right text-muted" style="width: 60%;">
                                {{Connectdtls.business_category}}
                              </span>

                            </p>
                            <p class="clearfix">
                              <span class="float-start">
                                Email :
                              </span>
                              <span class="float-right text-muted" style="width: 60%;">
                                <a href="mailto:{{Connectdtls.email_id}}"> {{Connectdtls.email_id}}</a>
                              </span>

                            </p>

                            <p class="clearfix">
                              <span class="float-start">
                                Mobile :
                              </span>
                              <span class="float-right text-muted" style="width: 60%;">
                                <a href="tel:{{Connectdtls.mobile_no}}">{{Connectdtls.mobile_no}}</a>
                              </span>

                            </p>
                            <p class="clearfix">
                              <span class="float-start">
                                Comment :
                              </span>

                              <span class="float-end text-muted" class="float-right text-muted" style="width: 60%;">
                                {{Connectdtls.comments}}
                              </span>

                            </p>

                            <p class="clearfix">
                              <span class="float-start">
                                Table Name:
                              </span>

                              <span class="float-end text-muted" class="float-right text-muted" style="width: 60%;">
                                {{Connectdtls.table_name}}

                              </span>
                            </p>

                            <p class="clearfix">
                              <span class="float-start">
                                Metting Type :
                              </span>
                              <span class="float-end text-muted" class="float-right text-muted" style="width: 60%;">
                                {{Connectdtls.meeting_type}}
                              </span>
                            </p>
                            <p class="clearfix">
                              <span class="float-start">
                                How About Connect :
                              </span>
                              <span class="float-end text-muted" class="float-right text-muted" style="width: 60%;">
                                {{Connectdtls.about_connect}}
                              </span>
                            </p>

                          </div>

                          <!-- skleton -->
                          <!-- <div class="col-lg-10" style="width: 30%; height: 30px;">
                            <ngx-skeleton-loader count="1"
                              [theme]="{  'border-radius': '4px',  height: '30px',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }"
                              *ngIf='loader'></ngx-skeleton-loader>

                          </div>
                          <br><br>

                          <div class="row" style="  opacity: 1;  height:500px;" *ngIf='loader'>

                            <div class="col-lg-4">
                              <ngx-skeleton-loader count="10"
                                [theme]="{  'border-radius': '5px',  height: '5%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white' }">
                              </ngx-skeleton-loader>

                            </div>
                            <div class="col-lg-8">
                              <ngx-skeleton-loader count="10"
                                [theme]="{  'border-radius': '5px',  height: '5%',  width:'100%', 'opacity':.6,  'background-color': '##b9b8b8',   border: '1px solid white' }">
                              </ngx-skeleton-loader>

                            </div>
                          </div> -->
                          <!-- skleton end -->

                        </div>
                      </div>
                    </div>
                    <!-- col end -->
                  </div>
                </div>
              </div>
            </ng-template>



          </div>
        </div>
      </div>
    </div>
  </div>
</section>