<section class="main-content">

    <div class="section-body" style="margin-top: 20px;">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="p-10">
                        <div class="row" style="margin-right: 10px; margin-left: 10px;">
                            <div class="col-lg-6">
                                <div class="row m-0">
                                    <div class="col-lg-3 p-0">
                                        <div class="ngxTableHeader">
                                            <div class="table-title">
                                                <h2><strong>JCOM Table</strong></h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-5 p-0">
                                        <div class="ngxTableHeader">
                                            <div class="table-search-area">
                                                <div>
                                                    <label for="search-input"><i
                                                            class="material-icons search-icon">search</i></label>
                                                    <input placeholder="Search" type="text"
                                                        class="browser-default search-field"
                                                        (keyup)='filterDatatable($event)' aria-label="Search box">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 p-0">
                                        <!-- <div class="ngxTableHeader">
                        <div class="header-buttons-left">
                          <div class="icon-button-demo buttons">
                            <button class="btn btn-icon icon-left btn-primary rounded-button" (click)='addRow(addRecord)'>
                              <i class="material-icons">add</i>
                            </button>
                            <button [hidden]=!isRowSelected class="btn btn-icon icon-left btn-danger rounded-button"
                              (click)='deleteSelected()'>
                              <i class="material-icons">delete</i>
                            </button>
                          </div>
                        </div>
                      </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- row end -->
                        <br>
                        <br>

                        <!-- main page -->
                        <div class="row" style="margin-left: 20px; margin-right: 20px;">
                            <div class="col-12 col-md-6 col-lg-6"
                                *ngFor="let table of Tables| paginate: {id: 'pagination1', itemsPerPage:12 , currentPage: p } ">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h4>{{table.table_name}}</h4>
                                        <div class="card-header-action">
                                            <!-- <a href="#" onClick="return false;" class="btn btn-primary">
                                                 View 
                                                 </a> -->
                                            <a class="msr-2 h-auto tblEditBtn"
                                                (click)='openRow(table.table, historyRecord)'>
                                                <i class="fas fa-eye"></i>
                                            </a> 
                                        </div>
                                    </div>
                                    <!-- <div class="card-body">  </div> -->
                                </div>

                            </div>
                        </div>

                        <!-- <ngx-skeleton-loader count="3" appearance="line" *ngIf="loader"></ngx-skeleton-loader> -->
                        <div class=" row" style="  opacity: 1; margin-left: 5px;   margin-right: 10px;   height:500px;"
                            *ngIf='loader'>

                            <div class="col-lg-6">
                                <ngx-skeleton-loader count="7" *ngIf="loader"
                                    [theme]="{  'border-radius': '5px',  height: '10%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white' }">
                                </ngx-skeleton-loader>
                            </div>
                            <div class="col-lg-6">
                                <ngx-skeleton-loader count="7" *ngIf="loader"
                                    [theme]="{  'border-radius': '5px',  height: '10%',  width:'100%', 'opacity':.6,  'background-color': '##b9b8b8',   border: '1px solid white' }">
                                </ngx-skeleton-loader>
                            </div>
                        </div>

                        <div id="pagination1" style="text-align: center;">

                            <pagination-controls (pageChange)=" p = $event"></pagination-controls>
                        </div>



                        <!-- <div class="tbl" style="width: 75%; margin-left: 120px; margin-right: 120px;">
                        <ngx-datatable #table class="material" [rows]="Customers" [loadingIndicator]="loadingIndicator"
                            columnMode="force" [headerHeight]="60" rowHeight="auto" [limit]="10"
                            [scrollbarH]="scrollBarHorizontal" [reorderable]="reorderable" [selected]="selected"
                            [selectionType]="'checkbox'" (select)='onSelect($event)'>

                            <ngx-datatable-column [width]="400" name="Tables">
                                <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                                    <div class="name-col-style">
                                        <div>{{row.username}}</div>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>


                            <ngx-datatable-column [width]="100" name="Open Table" sortable="false" >
                                <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                                    ngx-datatable-cell-template   >
                                    <span>
                                        <button class="btn btn-tbl-edit h-auto"
                                            (click)='editRow(row, rowIndex, historyRecord)'>
                                            <i class="fas fa-eye"></i>
                                        </button>

                                    </span>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>

                    </div> -->
                        <!-- main end -->

                        <!-- members record -->
                        <ng-template #historyRecord let-modal>
                            <div class="modal-header editRowModal">
                                <h4 class="modal-title" id="modal-basic-title">
                                    <div class="table-modal-header">
                                        <img src="assets/images/JCOM logo 4.jpg" alt="avatar">
                                        <div class="modal-about">
                                            <div class="font-weight-bold p-t-10 font-17">
                                                Members</div>
                                        </div>
                                    </div>
                                </h4>
                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                                    <span aria-hidden="true"><i class="material-icons">close</i></span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <div class="row" style="margin-left: 20px; margin-right: 20px;">
                                    <div class="col-lg-12 p-0">
                                        <div class="ngxTableHeader" style="margin-left: 20px;">

                                            <div class="table-search-area">
                                                <label for="">
                                                    <h6>Search Members </h6>
                                                </label> &nbsp;
                                                <label for="search-input"><i
                                                        class="material-icons search-icon">search</i></label>
                                                <input placeholder="Search" type="text"
                                                    class="browser-default search-field"
                                                    (keyup)='filterDatatable1($event)' aria-label="Search box">
                                          </div>
                                        </div>
                                        <br>
                                    </div>
                                    <div class="row">
                                    <div class="col-12 col-md-6 col-lg-6" *ngFor="let mem of Members| paginate: { id:'pagination2', itemsPerPage:10 , currentPage: m }">
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h4>{{mem.name}}</h4>
                                                <div class="card-header-action">                                              
                                                    <a class="msr-2 h-auto tblEditBtn"
                                                        (click)='openprofile(mem.name,openprofileRecord)'>
                                                        <i class="fas fa-eye"></i>
                                                    </a>
                                                </div>
                                            </div>                                 
                                        </div>
                                    </div>  </div>  
                                                
                                </div>
                                      <!-- <ngx-skeleton-loader count="3" appearance="line" *ngIf="loader"></ngx-skeleton-loader> -->
                         <div class=" row" style="  opacity: 1; margin-left: 5px;   margin-right: 10px;   height:400px;"
                        *ngIf='loader1'>

                        <div class="col-lg-6">
                            <ngx-skeleton-loader count="5" *ngIf="loader1"
                                [theme]="{  'border-radius': '5px',  height: '15%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white' }">
                            </ngx-skeleton-loader>
                        </div>
                        <div class="col-lg-6">
                            <ngx-skeleton-loader count="5" *ngIf="loader1"
                                [theme]="{  'border-radius': '5px',  height: '15%',  width:'100%', 'opacity':.6,  'background-color': '##b9b8b8',   border: '1px solid white' }">
                            </ngx-skeleton-loader> 
                        </div>
                    </div> 

                                <div id="pagination2" style="text-align: end;">
                                    <pagination-controls (pageChange)=" m = $event"></pagination-controls>
                                </div>         
                            </div>                         
                        </ng-template>


                        <!-- open profile -->
                        <ng-template #openprofileRecord let-modal>
                            <div class="modal-header editRowModal">
                                <h4 class="modal-title" id="modal-basic-title">
                                    <div class="table-modal-header">
                                        <img src="assets/images/JCOM logo 4.jpg" alt="avatar">
                                        <div class="modal-about">
                                            <div class="font-weight-bold p-t-10 font-17">
                                                Profile</div>
                                        </div>
                                    </div>
                                </h4>
                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                                    <span aria-hidden="true"><i class="material-icons">close</i></span>
                                </button>
                            </div>

                            <div class="modal-body">

                                <div class="section-body">
                                    <div class="row ">
                                        <div class="col-12 col-md-12 ">
                                            <div class="card author-box" style="margin-left: 75px; margin-right: 75px;">
                                                <div class="card-body" style="margin-left: 75px; margin-right: 75px;">
                                                    <div class="author-box-center">
                                                        <img alt="image" src="assets/images/users/user-1.png"
                                                            class="rounded-circle author-box-picture">
                                                        <div class="clearfix"></div>
                                                        <div class="author-box-name">
                                                            <a href="#" onClick="return false;">santhosh</a>
                                                        </div>
                                                        <div class="author-box-job">Web Developer</div>


                                                    </div>
                                                </div>

                                                <!-- about -->

                                                <div class="card-body">
                                                    <div class="card-header">
                                                        <h4>About Member</h4>
                                                    </div>
                                                    <div class="py-4" style="margin-left: 20px;">
                                                        <p class="clearfix">
                                                            <span class="float-start">
                                                                Name:
                                                            </span>
                                                            <span class="float-right text-muted" style="width: 60%;">
                                                                santhosh
                                                            </span>
                                                        </p>
                                                        <p class="clearfix">
                                                            <span class="float-start">
                                                                Address:
                                                            </span>
                                                            <span class="float-right text-muted" style="width: 60%;">
                                                                (0123)1tfghvgbjxdfgjncvbhdxghczz23456789zfdxf xfgj xftgj
                                                                xfg
                                                            </span>
                                                        </p>
                                                        <p class="clearfix">
                                                            <span class="float-start">
                                                                Pin:
                                                            </span>
                                                            <span class="float-right text-muted" style="width: 60%;">
                                                                test@example.com
                                                            </span>
                                                        </p>
                                                        <p class="clearfix">
                                                            <span class="float-start">
                                                                City/Town:
                                                            </span>

                                                            <span class="float-right text-muted" style="width: 60%;">
                                                                (0123)123456789
                                                            </span>

                                                        </p>
                                                        <p class="clearfix">
                                                            <span class="float-start">
                                                                District:
                                                            </span>
                                                            <span class="float-right text-muted" style="width: 60%;">

                                                                (0123)123456789

                                                            </span>
                                                        </p>
                                                        <p class="clearfix">
                                                            <span class="float-start">
                                                                State:
                                                            </span>

                                                            <span class="float-right text-muted" style="width: 60%;">
                                                                (0123)123456789
                                                            </span>

                                                        </p>
                                                        <p class="clearfix">
                                                            <span class="float-start">
                                                                Country:
                                                            </span>

                                                            <span class="float-right text-muted" style="width: 60%;">
                                                                (0123)123456789
                                                            </span>

                                                        </p>
                                                        <p class="clearfix">
                                                            <span class="float-start">
                                                                Zone:
                                                            </span>

                                                            <span class="float-right text-muted" style="width: 60%;">
                                                                (0123)123456789
                                                            </span>

                                                        </p>
                                                        <p class="clearfix">
                                                            <span class="float-start">
                                                                LOM:
                                                            </span>

                                                            <span class="float-right text-muted" style="width: 60%;">
                                                                (0123)123456789
                                                            </span>

                                                        </p>
                                                        <p class="clearfix">
                                                            <span class="float-start">
                                                                JCOM table:
                                                            </span>

                                                            <span class="float-right text-muted" style="width: 60%;">
                                                                (0123)123456789
                                                            </span>

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- business info -->
                                            <div class="card"
                                                style="margin-left: 75px; margin-right: 75px; border-color: rgb(187, 218, 236);">
                                                <div class="card-header">
                                                    <h4>Business Info</h4>
                                                </div>
                                                <div class="card-body">
                                                    <div class="py-4" style="margin-left: 30px;">
                                                        <p class="clearfix">
                                                            <span class="float-start">
                                                                Business No :
                                                            </span>
                                                            <span class="float-right text-muted" style="width: 60%;">
                                                                30-05-1998
                                                            </span>
                                                        </p>
                                                        <p class="clearfix">
                                                            <span class="float-start">
                                                                Personal No :
                                                            </span>
                                                            <span class="float-right text-muted" style="width: 60%;">
                                                                (0123)123456789
                                                            </span>
                                                        </p>
                                                        <p class="clearfix">
                                                            <span class="float-start">
                                                                Business Mail :
                                                            </span>
                                                            <span class="float-right text-muted" style="width: 60%;">
                                                                test@example.com
                                                            </span>
                                                        </p>
                                                        <p class="clearfix">
                                                            <span class="float-start">
                                                                Personal Mail :
                                                            </span>

                                                            <span class="float-right text-muted" style="width: 60%;">
                                                                test@example.com
                                                            </span>

                                                        </p>
                                                        <p class="clearfix">
                                                            <span class="float-start">
                                                                Website :
                                                            </span>
                                                            <span class="float-right text-muted" style="width: 60%;">

                                                                (0123)123456789

                                                            </span>
                                                        </p>
                                                        <p class="clearfix">
                                                            <span class="float-start">
                                                                Business Information :
                                                            </span>
                                                            <span class="float-right text-muted" style="width: 60%;">

                                                                (0123)123456789

                                                            </span>
                                                        </p>
                                                        <p class="clearfix">
                                                            <span class="float-start">
                                                                Business keywords :
                                                            </span>
                                                            <span class="float-right text-muted" style="width: 60%;">

                                                                (0123)123456789

                                                            </span>
                                                        </p>
                                                        <p class="clearfix">
                                                            <span class="float-start">
                                                                Products :
                                                            </span>
                                                            <span class="float-right text-muted" style="width: 60%;">

                                                                (0123)123456789

                                                            </span>
                                                        </p>
                                                        <p class="clearfix">
                                                            <span class="float-start">
                                                                Needed Contacts :
                                                            </span>
                                                            <span class="float-right text-muted" style="width: 60%;">

                                                                (0123)123456789

                                                            </span>
                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                                <!-- col end -->
                                        </div>

                                         <!-- skleton -->
                    <div class="col-12 col-md-12 " *ngIf='loader'>
                        <div class="card author-box" style="margin-left: 75px; margin-right: 75px;">
                          <div class="card-body" style="margin-left: 75px; margin-right: 75px;">
                            <div class="author-box-center">
  
                              <div class="col-lg-12" style="width: 100%; height: 100%;" style="align-content: center;">
                                <ngx-skeleton-loader count="1"
                                  [theme]="{  'border-radius': '40px',  height: '80px',  width:'80px', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                </ngx-skeleton-loader>
                              </div>
  
                              <div class="col-lg-12" style="width: 100%; height: 10px;" style="align-content: center;">
                                <ngx-skeleton-loader count="1"
                                  [theme]="{  'border-radius': '4px',  height: '15px',  width:'30%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                </ngx-skeleton-loader>
                              </div>
                              <div class="col-lg-12" style="width: 100%; height: 10px; " style="align-content: center;">
                                <ngx-skeleton-loader count="1"
                                  [theme]="{  'border-radius': '4px',  height: '15px',  width:'37%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                </ngx-skeleton-loader>
                              </div>
                            </div>
                          </div>
  
                          <div class="card-body">
                            <div class="py-0" style="margin-left: 20px; margin-right: 20px;">
                              <div class="col-lg-10" style="width: 30%; height: 30px;">
                                <ngx-skeleton-loader count="1"
                                  [theme]="{  'border-radius': '4px',  height: '30px',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                </ngx-skeleton-loader>
  
                              </div>
                              <br><br>
  
                              <div class="row" style="  opacity: 1;  height:400px;">
  
                                <div class="col-lg-4">
                                  <ngx-skeleton-loader count="10"
                                    [theme]="{  'border-radius': '5px',  height: '5%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white' }">
                                  </ngx-skeleton-loader>
  
                                </div>
                                <div class="col-lg-8">
                                  <ngx-skeleton-loader count="10"
                                    [theme]="{  'border-radius': '5px',  height: '5%',  width:'100%', 'opacity':.6,  'background-color': '##b9b8b8',   border: '1px solid white' }">
                                  </ngx-skeleton-loader>
  
                                </div>
                              </div>
  
                            </div>
                          </div>
                        </div>
  
                        <div class="card" style="margin-left: 75px; margin-right: 75px; border-color: rgb(187, 218, 236);"
                          *ngIf='!loader'>
  
                          <div class="card-body">
                            <div class="py-4" style="margin-left: 10px; margin-right: 10px;">
  
                              <div class="col-lg-10" style="width: 30%; height: 30px;">
                                <ngx-skeleton-loader count="1"
                                  [theme]="{  'border-radius': '4px',  height: '30px',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }">
                                </ngx-skeleton-loader>
  
                              </div>
                              <br><br>
  
                              <div class="row" style="  opacity: 1;  height:400px;">
  
                                <div class="col-lg-4">
                                  <ngx-skeleton-loader count="10"
                                    [theme]="{  'border-radius': '5px',  height: '5%',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white' }">
                                  </ngx-skeleton-loader>
  
                                </div>
                                <div class="col-lg-8">
                                  <ngx-skeleton-loader count="10"
                                    [theme]="{  'border-radius': '5px',  height: '5%',  width:'100%', 'opacity':.6,  'background-color': '##b9b8b8',   border: '1px solid white' }">
                                  </ngx-skeleton-loader>
  
                                </div>
                              </div>
                           </div>
                          </div>
                        </div>
      
                      </div>
                      <!-- skleton end -->

                                    </div>
                                </div>


                            </div>
                        </ng-template>




                    </div>
                </div>
            </div>
        </div>
    </div>
</section>