<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card register-card">
        <div class="row no-gutters">
          <div class="col-md-2">
            <!-- <img src="assets/images/register.jpg" alt="register" class="register-card-img"> -->
          </div>
          <div class="col-md-8" >
            <div class="register-body">
              <div class="text-center">
                <div class="brand-wrapper">
                  <img src="assets/images/JCOM-logo-3.png" alt="logo" class="logo" style="height: 74px;"><span class="logo-name"></span>
                </div>
              </div>
             
 
              
            </div>
          </div>
          <div class="col-md-2">
            <!-- <img src="assets/images/register.jpg" alt="register" class="register-card-img"> -->
          </div>
        </div>
      </div>
    </div>
  </main>
  
