<section class="main-content">
  <div class="section-body" style="margin-top: 20px;">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="p-10"  style="margin-right: 20px; margin-left: 20px;">
            <div class="row">
              <div class="col-lg-12">
                <div class="row m-0">
                  <div class="col-lg-2 p-0">
                    <div class="ngxTableHeader">
                      <div class="table-title">
                        <h5><strong> GNote</strong></h5>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-2 p-0">
                    <div class="ngxTableHeader">
                      <div class="header-buttons-left">
                        <div class="icon-button-demo buttons">
                          <button class="btn btn-icon icon-left btn-success" (click)='addRow(addRecord)'>
                            <i class="fas fa-plus"></i> Add GNote</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-8 p-0">
                    <div class="ngxTableHeader" style="display: flex;  justify-content: flex-end;">
                      <div class="table-search-area">
                        <div>
                          <label for="search-input"><i class="material-icons search-icon">search</i></label>
                          <input placeholder="Search" type="text" class="browser-default search-field"
                            (keyup)='filterDatatable($event)' aria-label="Search box">
                        </div>
                      </div>
                    </div>
                  </div>
             
                </div>
              </div>
            </div>
            <!-- row end -->
            <br>
            <!-- enter form control name after ts !!!!!!!!!!!!-->

      
              <ngx-datatable #table class="material" [rows]="Gnotes" [loadingIndicator]="loadingIndicator"
                columnMode="force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="10"
                [scrollbarH]="scrollBarHorizontal" [reorderable]="reorderable" *ngIf="!loader">

                <ngx-datatable-column name="Date">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.created_on}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [width]="200" name="Name">
                  <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>     
                    <div class="name-col-style">
                      <div>{{row.name}}</div>                     
                    </div>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Amount">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.amount}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Business Category">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.business_category}}
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Connect Type">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.connect_type}}
                  </ng-template>
                </ngx-datatable-column>
               
                 <ngx-datatable-column name="Type">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <div *ngIf="row.type=='1'" class="badge-outline col-green">First Business
                    </div>
                    <div *ngIf="row.type=='2'" class="badge-outline col-indigo">Regular Business
                    </div>
                   
                   
                  </ng-template>
                </ngx-datatable-column> 
              
                <ngx-datatable-column  name="Type"  >
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <!-- <div *ngIf="row.type=='1'" class="badge-outline col-green"><i class="material-icons">call_made</i>
                    </div> -->
                    <!-- <div *ngIf="row.type=='2'" class="badge-outline col-red"><i class="material-icons">call_received</i>
                    </div> -->
  
                    <h6 *ngIf="row.type=='1'" style="color: rgb(245, 11, 11);"><i class="material-icons">call_made</i></h6> 
                    <h6 *ngIf="row.type=='2'" style="color: rgb(3, 153, 15);"><i class="material-icons">call_received</i></h6>
                    <!-- <a class="btn btn-icon btn-sm btn-danger" >
                      <i class="material-icons">call_made</i>
                    </a> -->
                    <!-- <div *ngIf="row.type=='1'" ><h5 class="msr-2 h-auto tblEditBtn"><i class="fas fa-eye"></i></h5>
                    </div> -->
                    <!-- <div *ngIf="row.type=='2'" ><h5 class="msr-2 h-auto tblEditBtn"><i class="fas fa-eye"></i></h5>
                    </div> -->
                    <!-- <button class="btn btn-icon btn-sm btn-danger" *ngIf="row.type=='1'"> <i-feather name="arrow-up-right"></i-feather></button>
                    <button class="btn btn-icon btn-sm btn-success" *ngIf="row.type=='2'"> <i-feather name="arrow-down-left"></i-feather></i></button> -->
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Actions" sortable="false">
                  <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <a class="msr-2 h-auto tblEditBtn" (click)='opendetails(row , rowIndex ,profileRecord)'>
                      <i class="fas fa-eye"></i>
                    </a>

                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>

           

           
              <!-- <ngx-skeleton-loader count="3" appearance="line" *ngIf="loader"></ngx-skeleton-loader> -->
              <div id="tit" style="width: 100%;">
                <ngx-skeleton-loader count="1"
                  [theme]="{  'border-radius': '4px',  height: '60px',  width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }"
                  *ngIf="loader"></ngx-skeleton-loader>
              </div>
              <div class="skle" style="width: 100%;">
                <ngx-skeleton-loader count="10"
                  [theme]="{  'border-radius': '4px',  height: '30px', width:'100%', 'opacity':.6, 'background-color': '##b9b8b8',   border: '1px solid white'  }"
                  appearance="line" *ngIf="loader"></ngx-skeleton-loader>

              </div>
           



            <!--  add Modal Window -->
            <ng-template #addRecord let-modal>
              <div class="modal-header editRowModal">
                <h4 class="modal-title" id="modal-basic-title">
                  <div class="table-modal-header">
                    <img src="assets/images/JCOM logo 4.jpg" alt="avatar">
                    <div class="modal-about">
                      <div class="font-weight-bold p-t-10 font-17">
                        Entry GNote </div>
                    </div>
                  </div>
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                  <span aria-hidden="true"><i class="material-icons">close</i></span>
                </button>
              </div>

              <div class="modal-body">

                <form class="register-form" [formGroup]="register" (ngSubmit)="onAddRowSave(register)"
                  style="margin-top: 50px; border-color: rgb(20, 20, 20); border: black; ">
                  <div class="row" style="margin-left: 30px;margin-right: 40px;  border: black; ">


                    <div class="col-md-6">
                    <div class="form-group position-relative">
                      <label>JCOM Tables </label>
                      <i-feather name="Flag" class="login-icons" style="color: rgb(63, 89, 241);"></i-feather>
                      <ng-select (change)="ontableChange($event)"   placeholder="{{tblname}}">
                        <ng-option [value]="Mtable_id" selected disable >{{tblname}}</ng-option>
                        <ng-option *ngFor="let tab of Tables" [value]="tab.table" >
                          {{tab.table_name}}
                        </ng-option>                        
                      </ng-select>
                      
                    </div>
                  </div>    

                    <div class="col-md-6">
                      <div class="form-group position-relative">
                        <label>GNote To<span class="text-danger">*</span></label>
                        <i-feather name="user-plus" class="login-icons"  style="color: rgb(63, 89, 241);"></i-feather>
                        <ng-select formControlName="to_member_id" (change)="selectInput1($event)" [items]="Members" bindLabel="name" bindValue="id" required placeholder="please select">
                        </ng-select>
                        <small class="form-text text-danger"
                    *ngIf="!register.get('to_member_id').valid && register.get('to_member_id').touched">
                    *Please fill</small>
                        <!-- <select class="form-control pl-5" formControlName="to_member_id" (change)="selectInput1($event)" required>
                          <option value="" selected disabled>Please select</option>
                          <option *ngFor="let mem of Members" [value]="mem.id">
                            {{mem.name}}
                          </option>
                        </select> -->
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group position-relative">
                        <label>Amount<span class="text-danger">*</span></label>
                        <i-feather name="credit-card" class="login-icons" style="color: rgb(63, 89, 241);"></i-feather>
                        <input type="text" class="form-control pl-5" formControlName="amount" placeholder="Enter the amount " required>
                        <small class="form-text text-danger"
                    *ngIf="!register.get('amount').valid && register.get('amount').touched">
                    *Please fill</small>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group position-relative" *ngIf="isdisable">
                        <label>Connect<span class="text-danger">*</span></label>
                        <i-feather name="link2" class="login-icons" style="color: rgb(63, 89, 241);"></i-feather>
                        <ng-select  formControlName="connect_id"  required placeholder="please select">
                          <!-- <ng-option [value]="" selected ></ng-option> -->
                          <ng-option *ngFor="let tab of Connectmem" [value]="tab.connect_id" >
                            <span >
                              {{tab.connect_name}}
                              </span> &nbsp; <span >({{tab.created_on}})</span>
                          </ng-option>
                        </ng-select>
                        <small class="form-text text-danger"
                    *ngIf="!register.get('connect_id').valid && register.get('connect_id').touched">
                    *Please fill</small>

                        <!-- <select class="form-control pl-5" formControlName="connect_id" required>        
                          <option value="" selected disabled>select</option>
                          <option *ngFor="let connect of Connectmem" [value]="connect.connect_id">                        
                            <span >
                            {{connect.connect_name}}
                            </span> &nbsp; <span style="text-decoration: dotted;">({{connect.created_on}})</span>
                          </option>
                        </select> -->
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group position-relative">
                        <label>Connect Type<span class="text-danger">*</span></label>
                        <i-feather name="airplay" class="login-icons" style="color: rgb(63, 89, 241);"></i-feather>
                        <ng-select  [items]="connects" bindLabel="value" bindValue="id"  formControlName="connect_status"  placeholder="please select" required>
                        </ng-select>
                        <small class="form-text text-danger"
                    *ngIf="!register.get('connect_status').valid && register.get('connect_status').touched">
                    *Please fill</small>
                        <!-- <select class="form-control pl-5" formControlName="connect_status"  placeholder="please select" required >       
                          <option *ngFor="let connect of connects" [value]="connect.id">
                            {{connect.value}}
                          </option>
                        </select> -->
                      </div>
                    </div>
                 
                    
                    <div class="col-md-6">
                      <div class="form-group position-relative">
                        <label>Business Category <span class="text-danger">*</span></label>
                        <i-feather name="Briefcase" class="login-icons" style="color: rgb(63, 89, 241);"></i-feather>                  
                        <ng-select  [items]="Business" bindLabel="category" bindValue="id"  formControlName="business_category"  placeholder="please select" required>
                        </ng-select>
                        <small class="form-text text-danger"
                    *ngIf="!register.get('business_category').valid && register.get('business_category').touched">
                    *Please fill</small>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div id="df" style="height: 50px;">
                        <label>
                          <h6>Business Type :</h6>
                        </label> &nbsp;&nbsp;
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" formControlName="business_type" id="inlineRadio1"
                            value="1">
                          <label class="form-check-label" for="inlineRadio1">First Business</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" formControlName="business_type" id="inlineRadio2"
                            value="2">
                          <label class="form-check-label" for="inlineRadio2">Regular Business</label>
                        </div>

                      </div>

                    </div>

                    <div class="col-md-12">
                      <div class="form-group position-relative">
                        <label> comments </label>
                        <textarea name="" class="form-control pl-2 " formControlName="comments" cols="30" rows="3 " ></textarea>

                      </div>
                    </div>
                    <div class="col-md-12" style="text-align: center;"><br>
                      <button type="submit" class="btn btn-primary" [disabled]="!register.valid">CONFIRM</button>
                      <br><br><br>
                    </div>
                    <!-- <button (click)="toggleShow()" type="checkbox" >show/hide</button> -->

                    <!-- row end -->
                  </div>
                </form>
              </div>
            </ng-template>

            <ng-template #profileRecord let-modal>
              <div class="modal-header editRowModal">
                <h4 class="modal-title" id="modal-basic-title">
                  <div class="table-modal-header">
                    <img src="assets/images/JCOM logo 4.jpg" alt="avatar">
                    <div class="modal-about">
                      <div class="font-weight-bold p-t-10 font-17">
                        GNote Details</div>
                    </div>
                  </div>
                </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                  <span aria-hidden="true"><i class="material-icons">close</i></span>
                </button>
              </div>

              <div class="modal-body">

                <div class="section-body">
                  <div class="row ">
                    <div class="col-12 col-md-12 ">
                      <div class="card author-box" style="margin-left:35px; margin-right: 35px;">

                        <div class="card-body">
                          <div class="card-header">
                            <h4>Details</h4>
                          </div>
                          <div class="py-4" style="margin-left: 30px;">
                            <p class="clearfix">
                              <span class="float-start">
                                Name :
                              </span>
                              <span class="float-right text-muted" style="width: 60%;">
                                {{Gnotedtls.name}}
                              </span>
                            </p>
                            <p class="clearfix">
                              <span class="float-start">
                                Amount :
                              </span>
                              <span class="float-right text-muted" style="width: 60%;">
                                {{Gnotedtls.amount}}
                              </span>
                            </p>
                            <p class="clearfix">
                              <span class="float-start">
                                Connect Type :
                              </span>
                              <span class="float-right text-muted" style="width: 60%;">
                                {{Gnotedtls.connect_type}}
                              </span>
                            </p>
                            <p class="clearfix">
                              <span class="float-start">
                                Business Category :
                              </span>
                              <span class="float-right text-muted" style="width: 60%;">

                                {{Gnotedtls.business_category}}

                              </span>
                            </p>
                            <p class="clearfix">
                              <span class="float-start">
                                Comment :
                              </span>
                              <span class="float-end text-muted" class="float-right text-muted" style="width: 60%;">
                                {{Gnotedtls.comments}}                                
                              </span>
                            </p>
                          </div>

                            
                        </div>
                      </div>


                      <!-- col end -->
                    </div>

                  </div>
                </div>


              </div>
            </ng-template>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>