<section class="main-content">

    <div class="section-body" style="margin-top: 20px;">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="p-10">
              <div class="row">
                <div class="col-lg-6">
                  <div class="row m-0">
                    <div class="col-lg-3 p-0">
                      <div class="ngxTableHeader">
                        <div class="table-title">
                          <h2><strong>Customer</strong></h2>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-5 p-0">
                      <div class="ngxTableHeader">
                        <div class="table-search-area">
                          <div>
                            <label for="search-input"><i class="material-icons search-icon">search</i></label>
                            <input placeholder="Search" type="text" class="browser-default search-field"
                              (keyup)='filterDatatable($event)' aria-label="Search box">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 p-0">
                      <div class="ngxTableHeader">
                        <div class="header-buttons-left">
                          <div class="icon-button-demo buttons">
                            <button class="btn btn-icon icon-left btn-primary rounded-button" (click)='addRow(addRecord)'>
                              <i class="material-icons">add</i>
                            </button>
                            <button [hidden]=!isRowSelected class="btn btn-icon icon-left btn-danger rounded-button"
                              (click)='deleteSelected()'>
                              <i class="material-icons">delete</i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <ngx-datatable #table class="material" [rows]="Customers" [loadingIndicator]="loadingIndicator"
                columnMode="force" [headerHeight]="60" [footerHeight]="80" rowHeight="auto" [limit]="10"
                [scrollbarH]="scrollBarHorizontal" [reorderable]="reorderable" [selected]="selected"
                [selectionType]="'checkbox'" (select)='onSelect($event)'>
  
                <ngx-datatable-column [width]="70" [sortable]="false" [draggable]="false" [resizeable]="false"
                  [canAutoResize]="false" [headerCheckboxable]="true" [checkboxable]="true">
                </ngx-datatable-column>
  
                <ngx-datatable-column [width]="200" name="Name">
                  <ng-template let-row="row" let-value="value" let-i="index" ngx-datatable-cell-template>
                    <div class="name-col-style">
                      <div>{{row.username}}</div>   
                    </div>
                  </ng-template>
                </ngx-datatable-column>
          
                <ngx-datatable-column name="Phone">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.phone}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Email">                  
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.email}}
                  </ng-template>
                </ngx-datatable-column>
             
               
                <ngx-datatable-column [width]="100" name="Actions" sortable="false">
                  <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                    <span>
                      <button class="btn btn-tbl-edit h-auto" (click)='editRow(row, rowIndex, editRecord)'>
                        <i class="fas fa-pen"></i>
                      </button>
                      <button class="btn btn-tbl-delete h-auto" (click)='deleteSingleRow(row)'>
                        <i class="far fa-trash-alt"></i>
                      </button>
                    </span>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
              <!-- Add Record Modal Window -->
              <ng-template #addRecord let-modal>
                <div class="modal-header editRowModal">
                  <h4 class="modal-title" id="modal-basic-title">
                    <div class="table-modal-header">
                      <img [src]='newUserImg' alt="avatar">
                      <div class="modal-about">
                        <div class="font-weight-bold p-t-10 font-17">
                          New Customer</div>
                      </div>
                    </div>
                  </h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                    <span aria-hidden="true"><i class="material-icons">close</i></span>
                  </button>
                </div>
                <div class="modal-body">
                  <form class="register-form" [formGroup]="register" (ngSubmit)="onAddRowSave(register)">
                    <!-- <div class="input-field col s12 d-none">
                      <input formControlName="id" class="form-control" type="hidden">
                    </div>
                    <div class="input-field col s12 d-none">
                      <input formControlName="img" class="form-control" type="hidden">
                    </div> -->
                    <div class="row">
                      <div class="col-lg-6">
                        <label>name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" placeholder="name" formControlName="username"
                          required>
                        <small class="form-text text-danger"
                          *ngIf="!register.get('username').valid && register.get('username').touched">username is
                          required</small>
                      </div>
      

                      <div class="col-lg-6">
                        <label>Phone<span class="text-danger">*</span></label>
                        <input type="number" class="form-control" placeholder="Phone" formControlName="phone" required>
                        <small class="form-text text-danger"
                          *ngIf="!register.get('phone').valid && register.get('phone').touched"> Phone is
                          required</small>
                      </div>
                
                      <div class="col-lg-6">
                        <label>Email<span class="text-danger">*</span></label>
                        <input type="email" class="form-control" placeholder="Email" formControlName="email" required>
                        <small class="form-text text-danger"
                          *ngIf="!register.get('email').valid && register.get('email').touched"> Please enter a valid
                          email address</small>
                      </div>
                
                      <div class="col-lg-6">
                        <label>Password<span class="text-danger">*</span></label>
                        <input type="password" class="form-control" placeholder="Password" formControlName="password" required>
                        <small class="form-text text-danger"
                          *ngIf="!register.get('password').valid && register.get('password').touched"> Please enter a 
                          password</small>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary" [disabled]="!register.valid">Submit</button>
                      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                    </div>
                  </form>
                </div>
              </ng-template>
              <!-- Edit Record Modal Window -->
              <ng-template #editRecord let-modal>
                <div class="modal-header editRowModal">
                  <h4 class="modal-title" id="modal-basic-title">
                    <div class="table-modal-header">
                      <img [src]='selectedRowData?.img' alt="avatar">
                      <div class="modal-about">
                        <div class="font-weight-bold p-t-10 font-17">
                          {{selectedRowData?.firstName}}
                          {{selectedRowData?.lastName}}</div>
                      </div>
                    </div>
                  </h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true"><i class="material-icons">close</i></span>
                  </button>
                </div>
                <div class="modal-body">
                  <form [formGroup]="editForm" (ngSubmit)="onEditSave(editForm)">
                   
                    <div class="row">
                      <div class="col-lg-6">
                        <label>name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" placeholder="name" formControlName="username"
                          required>
                        <small class="form-text text-danger"
                          *ngIf="!editForm.get('username').valid && editForm.get('username').touched">username is
                          required</small>
                      </div>
      

                      <div class="col-lg-6">
                        <label>Phone<span class="text-danger">*</span></label>
                        <input type="number" class="form-control" placeholder="Phone" formControlName="phone" required>
                        <small class="form-text text-danger"
                          *ngIf="!editForm.get('phone').valid && editForm.get('phone').touched"> Phone is
                          required</small>
                      </div>
                
                      <div class="col-lg-6">
                        <label>Email<span class="text-danger">*</span></label>
                        <input type="email" class="form-control" placeholder="Email" formControlName="email" required>
                        <small class="form-text text-danger"
                          *ngIf="!editForm.get('email').valid && editForm.get('email').touched"> Please enter a valid
                          email address</small>
                      </div>
                
                      <div class="col-lg-6">
                        <label>Password<span class="text-danger">*</span></label>
                        <input type="password" class="form-control" placeholder="Password" formControlName="password" required>
                        <small class="form-text text-danger"
                          *ngIf="!editForm.get('password').valid && editForm.get('password').touched"> Please enter a 
                          password</small>
                      </div>

                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid">Save</button>
                      <button type="button" class="btn btn-light" (click)="modal.close()">Close</button>
                    </div>
                  </form>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  